.section-about
    padding-top: 8rem
    padding-bottom: 5.4rem
    @include respond(tab-port)
        margin-bottom: 32rem

.section-adventure
    padding: 21rem 0rem
    background: linear-gradient(90deg, rgba($brown-color-light, 0.7), rgba($color-black, 0.7)), url(./../img/adventure-bg_2x.jpg) center / cover no-repeat
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0 80%)
    @include respond(tab-land)
        padding: 15rem 0rem
    @include respond(tab-port)
        clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 90%)
        padding: 18rem 0rem
.section-tour
    padding-top: 8rem
    margin-bottom: 8rem

.section-feedBack
    position: relative
    padding-top: 8rem
    padding-bottom: 8rem

.section-book
    padding: 10rem
    background: linear-gradient(90deg, $brown-color-light, $brown-color-dark)
    @include respond(tab-port)
        padding: 4rem